body {
    font-family: "Roboto";
}

.color {
    border: solid 3px;

}

button {
    background-color: white;
    border-color: black;
}

.allinclude {
    border: solid 2px;
    margin-left: 27.5cm;
    z-index: 3;
    position: fixed;
    top: 10px; 
    border-radius: 0.2cm;
}

.controls {
    display: inline-block;
    margin-left: 30cm;
}
